.mx-button {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 0.5rem 1rem;
	color: var(--text-dark);
	font-size: 1rem;
	height: 2.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-roboto);
	transition: all 0.2s ease;
}

.mx-button--default {
	background-color: var(--basic-500);
}

.mx-button--default:hover:not(.mx-button--disabled) {
	background-color: var(--basic-600);
}

.mx-button--danger {
	background-color: var(--danger-500);
	color: var(--text-light);
}

.mx-button--danger:hover:not(.mx-button--disabled) {
	background-color: var(--danger-600);
}

.mx-button--primary {
	background-color: var(--primary-500);
	color: var(--text-light);
}

.mx-button--primary:hover:not(.mx-button--disabled) {
	background-color: var(--primary-600);
}

.mx-button--success {
	background-color: var(--success-500);
	color: var(--text-light);
}

.mx-button--success:hover:not(.mx-button--disabled) {
	background-color: var(--success-600);
}

.mx-button--warning {
	background-color: var(--warning-500);
	color: var(--text-light);
}

.mx-button--warning:hover:not(.mx-button--disabled) {
	background-color: var(--warning-600);
}

.mx-button--info {
	background-color: var(--info-500);
	color: var(--text-light);
}

.mx-button--info:hover:not(.mx-button--disabled) {
	background-color: var(--info-600);
}

.mx-button--ghost {
	background-color: transparent;
	border: 1px solid var(--ghost-500);
	color: var(--ghost-500);
}

.mx-button--ghost:hover:not(.mx-button--disabled) {
	border-color: var(--ghost-600);
	color: var(--ghost-600);
}

.mx-button--disabled {
	opacity: 0.5;
	cursor: default;
}
