.mx-container {
	font-size: 16px;
	position: relative;
}

.mx-select__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mx-select__header--marginBottom {
	margin-bottom: 4.8px;
}

.mx-label {
	font-family: var(--font-open-sans);
	font-size: 14px;
	font-family: var(--font-open-sans);
}

.mx-header__info {
	color: var(--body-text-dark);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 8px;
}

.mx-tags__button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	border: 1px solid var(--body-text-dark);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mx-tags__button:hover {
	background-color: var(--transparent-hover);
}

.mx-select {
	min-width: 220px;
	min-height: 40px;
	width: 100%;
	padding: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border);
	border-radius: 0.25em;
	font-family: var(--font-open-sans);
	position: relative;
	cursor: pointer;
}

.mx-select[aria-disabled='true'] {
	border-color: var(--input-border-disabled);
	cursor: default;
}

.mx-select--error {
	border-color: var(--warning);
}

.mx-select--borderPrimary:focus-within:not(.mx-select--error) .mx-select {
	border-color: var(--primary);
}

.mx-select--alignRight {
	justify-content: flex-end;
}

.mx-select__placeholder {
	color: var(--input-placeholder-color);
	margin: -2.5px;
	font-family: var(--font-open-sans);
	font-size: 14px;
}

.mx-select__placeholder--disabled {
	color: var(--input-placeholder-disabled-color);
}

.mx-popover {
	z-index: 50;
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border);
	border-radius: 0.25em;
	padding-bottom: 6px;
	font-family: var(--font-open-sans);
	font-size: 14px;
	min-height: 40px;
	max-height: 300px;
	height: 100%;
	overflow: auto;
	position: relative;
	overscroll-behavior: contain;
	display: flex;
	flex-direction: column;
}

.mx-popover__combobox_wrapper {
	position: sticky;
	margin-bottom: 5px;
	top: 0;
	padding: 16px;
	background-color: #faf8f8;
	border-bottom: 1px solid var(--input-border);
}

.mx-popover__combobox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.35em;
	border: 1px solid var(--input-border);
	padding: 0;
	padding: 0px 12px;
	background-color: #fff;
}

.mx-popover__combobox:focus-within {
	border: 1px solid var(--primary);
}

.mx-popover__combobox svg {
	color: var(--input-icon);
}

.mx-popover__combobox__input {
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: transparent;
}

.mx-popover__select__item {
	padding: 8px 12px;
	border-radius: 0.25em;
	display: flex;
	align-items: center;
	gap: 12px;
}

.mx-popover__select__item[data-active-item]:not(
		.mx-popover__select__item-active
	) {
	background-color: rgb(15, 144, 230);
	color: var(--body-text-light);
}

.mx-error {
	margin-top: 0.3em;
	color: var(--warning);
	font-family: var(--font-open-sans);
	font-size: 13px;
}
