.mx-container {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

.mx-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mx-header--marginBottom {
	margin-bottom: 0.25rem;
}

.mx-header__label {
	font-family: var(--font-open-sans);
	font-size: 0.875rem;
	color: var(--input-label);
}

.mx-header__info {
	color: var(--input-icons);
	align-self: center;
}

.mx-input {
	display: flex;
	align-items: stretch;
	background-color: var(--input-background);
	border: 1px solid var(--input-border);
	border-radius: 4px;
	height: 2.5rem;
	font-family: var(--font-open-sans);
}

.mx-input--error {
	border-color: var(--danger-500);
}

.mx-input:focus-within:not(.mx-input--error) {
	border: 1px solid var(--primary-500);
}

.mx-input--disabled {
	background-color: var(--input-background-disabled);
	border-color: var(--input-border-disabled);
	color: var(--input-text-disabled);
}

.mx-input__left__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0.75rem;
	color: var(--input-placeholder);
}

.mx-input__field {
	font-size: 14px;
	color: var(--input-text);
	background-color: transparent;
	padding: 1rem 0.75rem;
	border-radius: 4px;
	flex: 1;
	margin: 0;
	border: none;
	outline: none;
}

.mx-input__field:-webkit-autofill,
.mx-input__field:-webkit-autofill:hover,
.mx-input__field:-webkit-autofill:focus,
.mx-input__field:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1.875rem white inset !important;
}

.mx-input__field::placeholder {
	color: var(--input-placeholder);
	opacity: 1;
	font-family: var(--font-open-sans);
}

.mx-input--disabled .mx-input__field::placeholder {
	color: var(--input-placeholder-disabled);
}

.mx-input__field:-ms-input-placeholder,
.mx-input__field::-ms-input-placeholder {
	color: var(--input-placeholder);
	font-family: var(--font-open-sans);
}

.mx-input__button {
	cursor: pointer;
	margin: 0;
	padding-right: 0.75rem;
	background-color: transparent;
	border: none;
	font-size: 0;
	color: var(--input-placeholder);
}

.mx-error {
	margin-top: 0.25rem;
	color: var(--danger-500);
	font-family: var(--font-open-sans);
	font-size: 0.8rem;
}
